.git
.gitignore
.gcloudignore
.dockerignore

node_modules
**/node_modules

apps/mobile
artifacts
builds
Design.zip

**/.dart_tool
**/.next
**/.turbo
**/build
**/dist
**/coverage
**/__pycache__

.env
**/.env
**/.env.*

deploy/.env.*.yaml
*.log
.DS_Store

_web/
